@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

/* Brown Sugar (#A07855FF) and Beige (#D4B996FF) */

:root {
  --primary-color: #1e3d59;
  --secondary-color: #ff6e40;
  --bg-color: #f5f0e1;
  --body-color: #e6e3da;
  --light-orange: #ffc13b;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px */
}

body {
  width: 100vw;
  font-family: "Open Sans", serif;
  background-color: var(--body-color);
}

main {
  width: 70vw;
  margin: 20px auto;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 1rem;
}

header {
  background-image: url("https://unsplash.com/photos/Qwiwjf3oZ1U/download?force=true&w=640");
  background-size: cover;
  height: 400px;
  padding: 1rem;
  border-radius: 10px;
}

h1 {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

h2 {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.logo {
  display: flex;
  margin: 15px auto 80px auto;
  width: 100px;
  justify-content: center;
}

.logo > img {
  margin-right: 0.5rem;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

article p {
  text-align: justify;
}

.clearfloat::after {
  clear: both;
  content: "";
  display: table;
}

.image-left {
  float: left;
  margin: 0 1em 0 0;
}

.image-right {
  float: right;
  margin: 0 0 0 1em;
}

.navigation-main {
  font-size: 1.5rem;
}

.navigation-main span {
  cursor: pointer;
}

.navigation-main ul ul {
  display: none;
}

.navigation-main ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navigation-main ul li {
  display: flex;
  align-items: center;
}

.navigation-main ul ul li {
  font-size: 1.2rem;
}

.navigation-main ul li:hover {
  border-bottom: 1px solid black;
}

.navigation-main ul li:hover > ul {
  display: block;
}

.navigation ul {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navigation-main .active > a {
  color: var(--secondary-color);
}

.navigation-main ul {
  position: relative;
}

.navigation-main ul ul {
  position: absolute;
  top: 35px;
}

.navigation-main ul ul ul {
  position: absolute;
  top: 10px;
  left: 87px;
  white-space: nowrap;
}

.navigation-footer > ul {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
}

.product-desc {
  margin: 0 2rem 0 2rem;
}

h3 {
  text-align: center;
}

.product-list {
  list-style: none;
  padding: 0;
}

.search-bar > form {
  width: 90%;
  margin: 0 auto;
}

@media print {
  main {
    width: 95vw;
  }

  .navigation-main {
    display: none;
  }

  header {
    background-image: none;
    height: auto;
  }

  aside {
    display: none;
  }

  footer {
    display: none;
  }
}
